<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>选项卡</title>
    <!-- <link rel="stylesheet" href="../bootstrap/css/bootstrap.css"> -->
    <link rel="stylesheet" href="./css/css.css">
    <script src="../bootstrap/js/jquery.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../vue.js"></script>

</head>

<body>
    <div id="app">
        <div class="container">
            <ul class="nav nav-tabs">
                <!--  v-bind:class="idx===activeIndex 'active':''" -->
                <!-- v-bind:class="{active:idx===activeIndex}" -->
                <li v-bind:class="{active:idx==activeIndex}" v-for="(item,idx) in namelist" @click="changeIndex(idx)">
                    <a class="nav-link">{{item.name}}</a>
                </li>
                <!--   <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
            </ul>
            <div class="detail">
                <div class="contents" v-for="(item,idx) in namelist" v-show="idx==activeIndex">
                    {{item.name}}最爱{{item.hobby}}</div>
            </div>

        </div>


    </div>

    <script>
        let vm = new Vue({
            el: "#app",

            data: {
                activeIndex: 0,
                namelist: [{
                    name: "laoxie",
                    hobby: "敲代码"
                }, {
                    name: "dingding",
                    hobby: "琴棋书画"
                }, {
                    name: "luoluo",
                    hobby: "化妆"
                }, ]
            },
            methods: {
                changeIndex(idx) {
                    this.activeIndex = idx
                }
            }
        })
    </script>
</body>

</html>