<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todolist_组件化</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <style>
        .container {
            padding: 20px;

        }
    </style>
</head>

<body>
    <div id="app">
        <todo-list></todo-list>
    </div>

    <!-- todolist -->
    <template id="todolist">
        <div class="container">
            <!-- todoform -->
            <todo-form :tasklist="taskList" :cons="cons" :endtime="endtime" :addlist="addList"></todo-form>
            <!-- todocontent -->
            <todo-content :tasklist="taskList" :change="change" :remove="remove" :select='select'></todo-content>
        </div>
    </template>

    <!-- ---------------------------------------- -->
    <!-- todoform -->
    <template id="todoform">
        <div>
            <!-- 加上根节点 -->
            <h2>待完成事项 todolist</h2>
            <div class="input-group mb-3">
                <!-- ref="taskele" -->
                <input type="text" v-model.trim="cons" @keyup.enter="additem()" class="form-control"
                    placeholder="要完成的任务" ref='keywords' autofocus>
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">
                        <input v-model="endtime" type="date"
                            style="border:0;outline:0;height: 20px;background: transparent;">
                    </span>
                    <button type="button" class="btn btn-success" @click="additem()">添加</button>
                </div>
            </div>
        </div>
    </template>

    <!-- ------------------------------------- -->
    <!-- todocontent -->
    <template id="todocontent">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        <input v-model="checkall" type="checkbox" name="" id="">
                        全选
                    </th>
                    <th scope="col">#</th>
                    <th scope="col">待办事项</th>
                    <th scope="col">预计完成事件</th>
                    <th scope="col">是否完成</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                <!-- todoitem -->
                <!-- tbody里只能写tr -->
                <!-- <todo-item></todo-item> -->
                <tr :change="change" :remove="remove" :select='select' is="todo-item" v-for="(item, index) in tasklist"
                    :item="item" :index="index" :key='item.id'>
                </tr>
            </tbody>
        </table>
    </template>

    <!-- ----------------------------------- -->
    <!-- todoitem -->
    <template id="todoitem">
        <tr @click="selectitem()">
            <th scope="row"><input type="checkbox" name="" id="" v-model="item.isSelected"></th>
            <td>{{ index + 1 }}</td>
            <td>{{ item.msg }}</td>
            <td>{{ item.endtime }}</td>
            <td>{{ item.completed }}</td>
            <td>
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-success btn-sm" @click.stop="changeitem()">完成</button>
                    <button type="button" class="btn btn-danger btn-sm" @click.stop="removeitem()">删除</button>
                </div>
            </td>
        </tr>
    </template>
</body>
<script src="../vue.js"></script>
<script>
    (() => {
        /*
            任务清单需求：
                -渲染任务列表
                -点击添加按钮或按下回车键的时候可以提交新的任务
                -点击完成，状态改成：是
                -点击删除就可以删除某个任务
                -点击全选可以完成全选，点击下面的复选框反作用于全选
                    * 如果你只是想渲染数据，视图不会去修改的，单向
                        * 设置data + {{}}
                    * 渲染数据+ 视图发生改变，获取到改变的值,双向
                        * 双向数据绑定  v-model  data ,影响别人  写一个函数：chage( this.total = this.num * 99;)
                        * 计算属性   computer  msg ：m-v显示 getter  v-m获取：setter
                        * 监听  watch  监听 msg： newval(v-m)  (m-v) data + {{msg}}
                -点击tr也可以选中或取消该选项
        */


        /* 组件开发 */
        /*1 todoform */
        let todoForm = {
            template: "#todoform",
            props: ['cons', 'endtime', 'addlist', "tasklist"],
            data: function () {
                return {
                    cons: '', //输入任务可以获取到
                    endtime: ''
                }

            },
            methods: {
                additem() {
                    if (this.cons) {
                        let con = {
                            id: this.tasklist.length + 1,
                            msg: this.cons,
                            completed: '否', //未完成
                            isSelected: false,
                            endtime: this.endtime
                        }
                        /* 子传父 */
                        this.addlist(con);
                        this.cons = '';
                        /* 聚焦 */
                        this.$refs.keywords.focus();
                    }
                }
            }
        }

        /*3 todoitem */
        let todoItem = {
            template: "#todoitem",
            /* 接收数据 */
            props: ['item', 'index', 'change', 'remove', 'select'],
            methods: {
                changeitem() {
                    this.change(this.index)
                },
                removeitem() {
                    this.remove(this.index)
                },
                selectitem() {
                    this.select(this.index)
                }
            }
        }

        /*2 todocontent */
        let todoContent = {
            template: "#todocontent",
            /* 子组件 */
            components: {
                todoItem
            },
            /* 接收父组件传过来的数据 */
            props: ['tasklist', 'change', 'remove', 'select'],
            computed: {
                checkall: {
                    get() {
                        //m-v  数据->视图


                        let istrue = false
                        if (this.tasklist.length) {
                            istrue = this.tasklist.every(item => item.isSelected);

                        }
                        //每一项都为真才为真,全部为真就是勾选完了，再全选
                        return istrue;
                    },

                    set(val) {
                        //v-m 视图->数据
                        // console.log(val);
                        //全选控制下面所有
                        this.tasklist.forEach(item => {
                            item.isSelected = val;
                        });

                    }


                }
            },

        }

        /* cons 父传子=>todoform */



        Vue.component("todo-list", {
            template: "#todolist",

            /* 引入子组件 */
            components: {
                todoForm,
                todoContent
            },

            /* 数据 */
            data: function () {
                return {
                    taskList: [ //默认的任务数据
                        {
                            id: 1,
                            msg: '定个小目标，完成一个亿',
                            completed: '否', //未完成
                            isSelected: false,
                            endtime: '2019-12-25'
                        }
                    ],

                }
            },
            /* 方法 */
            methods: {
                addList(con) {
                    //添加新的任务
                    // if (con) {
                    //非空才插入数据

                    this.taskList.unshift(con); //新任务放在下面

                    //清空数据并聚焦
                    // this.cons = '';
                    //js给节点绑定 节点.focus()  在节点上面绑定属性：autofucus也可以聚焦，但是在一些浏览器会失效 移动端苹果浏览器失效 safari
                    // this.$refs.taskele.focus();
                    // }

                },

                //点击完成的时候，把状态改成 是
                change(index) {
                    this.taskList[index].completed = '是';
                },
                //删除任务
                remove(index) {

                    let isok = confirm('您确定要删除吗？');
                    if (isok) {
                        this.taskList.splice(index, 1);
                    }
                },
                select(index) {
                    this.taskList[index].isSelected = !this.taskList[index].isSelected;
                }
            }
        })


        // Vue.component('todo-list', {
        //     template: '#todolist',








        let vm = new Vue({
            el: '#app'
            // data: {

            // },

        });


    })();
</script>

</html>