html,
body {
    height: 100%;
}

@function vw($px) {
    @return($px/750)*100vw;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;

    header {
        height: vw(86);
        background-color: #ff5000;
        padding: vw(10) vw(16);
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;

        .iconsaoma,
        .iconicon-test9 {
            color: #eee;
            font-size: vw(56);
            height: vw(56);
            width: vw(56);
        }

        .inputbox {
            border-radius: vw(10);
            background-color: #dd3000;
            box-sizing: border-box;
            padding: vw(10);
            display: flex;
            align-items: center;
            width: vw(480);
            margin-left: vw(100);

            .iconicon-test12 {
                font-size: vw(40);
                color: #eee;
                margin-right: vw(10);
            }

            input {
                background-color: transparent;
                color: #eee;
            }
        }
    }

    main {
        flex: 1;
        overflow: auto;

        .maincontent {
            width: 100%;

            #carousel {
                nav {
                    position: relative;
                    height: vw(300);

                    li {
                        position: absolute;
                        width: 100%;
                        display: none;
                        overflow: hidden;

                        img {
                            width: 100%;
                        }
                    }

                    .active {
                        display: block;
                    }
                }
            }

            .goodslist {
                padding: vw(20) vw(15);

                h2 {
                    color: #ff5000;
                    text-indent: vw(20);
                    border-left: 3px solid #ff5000;
                    font-weight: 900;
                }

                .gcontent {
                    margin-top: vw(40);
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    li {
                        width: 48%;
                        flex-shrink: 1;
                        margin-bottom: vw(40);

                        img {
                            width: 100%;
                        }

                        .title {
                            margin: vw(4) 0 vw(10);
                        }

                        .price {
                            color: #ff5000;
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }

    footer {
        // position: fixed;
        // bottom: 0;
        height: vw(110);
        width: 100%;
        border-top: 1px solid #cccccc;

        nav {
            display: flex;
            height: 100%;

            li {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: vw(20);
                color: #59585e;

                .iconfont {
                    font-size: vw(48);
                }
            }

            li:hover {
                color: #ff5000;
            }
        }
    }
}